.example-appear {
	opacity: 0;
}

.example-appear.example-appear-active {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-in;
	transition: opacity 500ms ease-in;
}

.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0;
  -webkit-transition: opacity 0.1ms;
  transition: opacity 0.1ms;
}